@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Oswald:wght@200&family=Smooch+Sans:wght@100&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-color: aliceblue;

}

.container {
    border-radius: 50%;
    background-color: rgba(204, 87, 87);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 60%;
    cursor: pointer;
}


.writing {
    color: white;
    line-height: 1.7;
    font-family: 'Bungee', sans-serif;
    font-size: 4.0em;
    text-align: center;
};
