body {
  background-color: lightgreen;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header h3 {
  font-size: 2rem;
  margin-bottom: 25rem;
}

.links {
  display: grid;
  justify-content: center;
  align-items: center;
  min-height: 25vh;
}

* a {
  text-decoration: none;
}

.links a {
  font-size: 2rem;
  color: lightgoldenrodyellow;
}

a:hover {
  color: red;
}
