* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family:Verdana, Geneva, Tahoma, sans-serif
}

body {
  background-color: rgba(47, 121, 185, 0.7);
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.one form {
  display: grid;
  width: 55vh;
  height: 25vh;
  background-color: rgba(4, 26, 228, 0.4);
  margin: 0 auto;
  margin-top: 5rem;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  color: white;
}

form h1 {
  text-align: center;
  margin-top: 5%;
}

.form-group {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;
}

#label {
  padding-right: 20px;
  font-weight: bold;
}
